// containers
@mixin flex($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.container {
    @include flex;
}

@include breakpoint(min, sm) {
    .container-sm {
        @include flex;
    }
}

@include breakpoint(min, md) {
    .container-md {
        @include flex;
    }
}