@use "sass:map";

// fonts
.text-dark-cyan{
    color: map.get($primary, "Dark cyan") !important;
}

.text-dark-blue{
    color: map.get($primary, "Very dark desaturated blue") !important;
}

.text-grayish-blue{
    color: map.get($primary, "Dark grayish blue") !important;
}

.text-dark-gray{
    color: map.get($neutral, "Dark gray") !important;
}

// backgrounds
.bg-dark-cyan{
    background-color: map.get($primary, "Dark cyan") !important;
}

.bg-dark-blue{
    background-color: map.get($primary, "Very dark desaturated blue") !important;
}

.bg-grayish-blue{
    background-color: map.get($primary, "Dark grayish blue") !important;
}

.bg-dark-gray{
    background-color: map.get($primary, "Dark gray") !important;
}

.background-back{
    background-color: map.get($primary, "Dark cyan");

    .background{
        background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
        background-position: right -100% top -100%, bottom -100% left -100%;
        background-repeat: no-repeat;
        background-size: 150%;
        
        @include breakpoint(min, md){
            background-position: right -50% bottom -50%, top -50% left -50%;
            background-repeat: repeat;
        }
    }
}

.border-top{
    border-top: 1px solid rgba(map.get($neutral, "Dark gray"), 0.75);
}